* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
header {
    background-color: #4caf54;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin-bottom: 10px;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
main {
    display: flex;
}
#posts {
    flex: 3;
    padding: 20px;
}
.post {
    background-color: #f59999;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
.post h2 {
    color: #a34343;
}
.date {
    font-size: 0.9em;
    color: white;
}
.date:hover {
    color: purple;
}
.read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #88b0db;
    color: white;
    text-decoration: none;
}
.read-more:hover {
    background-color: #0056b3;
}
#sidebar {
    flex: 1;
    padding: 20px;
    background-color: #88b0db;
    margin: 20px;
    border-radius: 10px;
}
#sidebar h3 {
    margin-top: 20px;
    color: #d1884c;
}
#sidebar p {
    color: #922020;
}
.categories {
    list-style-type: none;
}
.categories li a {
    color: white;
    
    text-decoration: none;
}
.categories li a:hover {
    color: blue;
}
.social-media li {
    list-style-type: none;
}
.social-media li a {
    color: white;
}
.social-media li a:hover {
    color: blue;
}
footer {
    text-align: center;
    padding: 20px;
}
